/* Estilo general del cuerpo */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    font-family: Arial, sans-serif;
    

}

.articulos {
    justify-content: left;
}


