#imagen{
    height: 500px;
    
}
 .contenedor img{

    width: 90%;

}


.contenedor{


     
    width: 100%;
    display: flex;

   
    
}



.botones{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 30px;
    width: 70px;
    height: 500px;
    line-height: 70px;
    background-color: rgba(0, 0,0,0.5);
    text-align: center;
    
    font-weight: bold;

    color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

}


.botones:hover{
    cursor: pointer;

}
.atras{
left: 2%; 

}
.adelante{
right: 2%;
}

.atras:hover{
    color: #f0a500;

}

.adelante:hover{
    color: #f0a500;

}

/*
.section-carrusel{
    
    border: 2px solid red;
}

.contenedor{
    border: 2px solid violet;
    display: flex;
    
    align-items:center;

    width: 100%;


}

.botones{
    border: 2px solid rgb(255, 247, 0);
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

#imagen{
    border: 4px solid green;
}
*/

/*
 .section-carrusel{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
div .contenedor{
    flex: 1;
    width: 50%;
    position: relative;
    height: 500px;
    border-radius: 20px;
    height: 600px;

}
.botones{
    z-index: 1;
    font-size: 30px;
    width: 70px;
    height: 30%;
    line-height: 70px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    font-weight: 900;
    position: absolute;
    color:  #fff;
    box-shadow: 0 0 10px rgba(2, 2, 2, 0.6);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}
#imagen{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    opacity: 0.9;

}
.adelante{
    left: 2%;
    top: calc(50% - 70px);

}
.atras{
    right: 2%;
    top: calc(50% - 70px);

}*/