*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-registro {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);

    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);


}

.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;

    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(0, 0, 0);
    font-family: 'calibri';
    font-size: 18px;

}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;

}

.form-registro a {
    color: white;
    text-decoration: none;
}

.form-registro a:hover {
    color: white;
    text-decoration: underline;
}

.form-registro .boton {
    width: 100%;
    background-color: rgb(5, 5, 6) ;
    border: none;
    padding: 16px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

.boton:hover{
    background-color: #0000009d;

}


.feedback {
    
    margin-top: 15px;
    padding: 10px;
    height: auto;
    width: 100%;
    display: none;  
    text-align-last: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

}
.feedback p {
    /*
    margin-top: 15px;
    margin-bottom: 15px;*/
}

.error span {
    
    padding: 16px;

    
}

.error  {
    color: rgb(224, 12, 12);

}

.boton {
    margin-top: 20px;
}

#form-registro{
    text-align: left;
   
}




