 .contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    width: 980px;
    height: auto;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    border-radius: 15px;
    
    
    
    
    
}


.card {
    width: 900px;
    height: 470px;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    background-color: rgba(40, 37, 37, 0.374);
    justify-content: center;
    overflow: hidden;
    
    padding: 12px 10px;
    border-radius:10px;
    margin: 20px;
}
  
.card_image{
    width: 340px;
    height: 460px;
    position: relative;
    float: left;
    border-right: 4px solid black;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    
  }

  .image {
    width: 100%;
  }
  
  .card_text {
    position: absolute;
    left: 44%;
    border-bottom: 4px solid black;
    
    height: 40%;
    width: 35%;

    
  }

  .card_text h3  {
    color: rgb(253, 253, 253);
    float: left;
    margin: 10px;
    border-bottom: 3px solid rgb(255, 255, 255);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }

  .card_text p  {
    color: rgb(255, 255, 255);
    margin: 16px;
    margin-top: 60px;
    position: relative;
    width: 480px;
    height: 180px;
    text-align: left;
    font-size: 16px;
    
  }

  .buttons {
    width: 500px;
    height: 200px;
    
    flex-wrap: wrap;
    
    margin-top:300px;
    margin-left: 350px;
    overflow: hidden;
  }

  .button {
    border: 3px solid black;
    font-size: 5px;
    margin: 1px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.231);
    border-radius: 10px;
  }
 




  